.grid {
    display: grid;
  }
  
  .searchResult {
    background: var(--theme-commentBg);
    margin-bottom: 10px;
    padding-left: 0.75rem;
  }
  
  .searchResultPost {
    border-left: 3px solid var(--bs-secondary);
  }
  
  .searchResultComment {
    border-left: 3px solid var(--bs-info);
    border-radius: 0;
  }
  